services:
  db:
    image: postgres:15
    container_name: pantrypilot_db
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: pantry_user
      POSTGRES_PASSWORD: secure_password
      POSTGRES_DB: pantry_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  adminer:
    image: adminer:latest
    container_name: pantrypilot_adminer
    restart: always
    environment:
      ADMINER_DEFAULT_SERVER: db
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  postgres_data:
